<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>
        <link rel="canonical" href="{{ page.url(true, true) }}" />

        {% block stylesheets %}
            {% do assets.addCss('theme://css/purecss/pure-min.css', 102) %}
            {% do assets.addCss('theme://css/main.css', 100) %}

            {% if (browser.getBrowser == 'msie' and browser.getVersion > 8) or browser.getBrowser != 'msie' %}
                {% do assets.addCss('theme://css/purecss/grids-responsive-min.css', 101) %}
            {% endif %}
            {% if browser.getBrowser == 'msie' and browser.getVersion <= 8 %}
                {% do assets.addCss('theme://css/purecss/grids-responsive-old-ie-min.css', 101) %}
            {% endif %}
        {% endblock %}
        {{ assets.css() }}

        {% block javascripts %}
            {% do assets.addJs('jquery', 101) %}
        {% endblock %}
        {{ assets.js() }}
    </head>
    <body>
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}
        {% block body %}
        <section id="body" class="content container limited-width">
            {% block content %}{% endblock %}
        </section>
        {% endblock %}
        {% include 'partials/footer.html.twig' %}


        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}
        <script>
            $(document).on('click', '.photo', function(){
                $('.photo--clicked').removeClass('photo--clicked');
                $('.photo--temp').remove();
                $(this).clone().addClass('photo--temp').insertAfter($(this).parent());
                $(this).parent('.photo-container').addClass('photo-container--clicked');
                $(this).addClass('photo--clicked');
            });

            $(document).on('click', '.photo--clicked', function(){
                $('.photo--temp').remove();
                $(this).parent('.photo-container--clicked').removeClass('photo-container--clicked');
                $(this).removeClass('photo--clicked')
            });
        </script>
    </body>
</html>
