<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
    <head>
        <meta charset="utf-8">
        <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>
        <link href="{{ theme_url }}/css/main.css" rel="stylesheet" />
        {{ assets.css() }}
        {% block javascripts %}
            {% do assets.addJs('jquery', 101) %}
        {% endblock %}
        {{ assets.js() }}
    </head>
    <body>
        {% block header %}
            <header class="header">
                {% include 'partials/header.html.twig' %}
            </header>
        {% endblock %}
        {% block header_image %}
        {% endblock %}
        {% block body %}
        <section id="body" class="content container">
            {% block content %}{% endblock %}
        </section>
        {% endblock %}
        {% include 'partials/footer.html.twig' %}


        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}
    </body>
</html>
