<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
    <head>
        {% if site.googleAnalyticsId %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{site.googleAnalyticsId}}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ site.googleAnalyticsId }}');
        </script>
        {% endif %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if header.title %}
            {% set pageTitle = header.title|e ~ " | " %}
        {% endif %}
        {% set pageTitle = pageTitle ~ site.title|e %}
        {% if site.subtitle %}
            {% set pageTitle = pageTitle ~ " - " ~ site.subtitle %}
        {% endif %}
        <title>{{ pageTitle }}</title>
        <link rel="canonical" href="{{ page.url(true, true) }}" />
        <!-- Search Engine -->
        <meta name="description" content="{{ page.summary(null, true) }}">
        <meta name="image" content="{{ page.header.pageHeader ? 'http://www.capitalflycasting.com' ~ page.media[page.header.pageHeader].url : '' }}">
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="{{ pageTitle }}">
        <meta itemprop="description" content="{{ page.summary(null, true) }}">
        <meta itemprop="image" content="{{ page.header.pageHeader ? 'http://www.capitalflycasting.com' ~ page.media[page.header.pageHeader].url : '' }}">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ pageTitle }}">
        <meta name="twitter:description" content="{{ page.summary(null, true) }}">
        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta name="og:title" content="{{ header.title ? header.title : site.title }}">
        <meta name="og:description" content="{{ page.summary(null, true) }}">
        <meta name="og:url" content="http://www.capitalflycasting.com">
        <meta name="og:site_name" content="Capital Fly Casting - Canberra, Australia">
        <meta name="og:locale" content="en_AU">
        <meta name="og:type" content="website">

        {% block stylesheets %}
            {% do assets.addCss('theme://css/purecss/pure-min.css', 102) %}
            {% do assets.addCss('theme://css/main.css', 100) %}

            {% if (browser.getBrowser == 'msie' and browser.getVersion > 8) or browser.getBrowser != 'msie' %}
                {% do assets.addCss('theme://css/purecss/grids-responsive-min.css', 101) %}
            {% endif %}
            {% if browser.getBrowser == 'msie' and browser.getVersion <= 8 %}
                {% do assets.addCss('theme://css/purecss/grids-responsive-old-ie-min.css', 101) %}
            {% endif %}
        {% endblock %}
        {{ assets.css() }}

        {% block javascripts %}
            {% do assets.addJs('jquery', 101) %}
        {% endblock %}
        {{ assets.js() }}
    </head>
    <body>
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}
        {% block body %}
        <section id="body" class="content container limited-width">
            {% block content %}{% endblock %}
        </section>
        {% endblock %}
        {% include 'partials/footer.html.twig' %}


        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}
        <script>
            var selectedImage = null;

            function openImage(imageElement){
                imageElement.clone().addClass('photo--temp').insertAfter(imageElement.parent());
                imageElement.addClass('photo--clicked');
                imageElement.parent('.photo-container').addClass('photo-container--clicked');
            }

            function closeImage(){
                $('.photo--clicked').removeClass('photo--clicked');
                $('.photo-container--clicked').removeClass('photo-container--clicked');
                $('.photo--temp').remove();
            }

            function closeGalleryImage(){
                $('.gallery__modal').css({'display':'none'});
                removeKeyboardListener();
            }

            function showModal(element){
                setModalImage(element);
                $('.gallery__modal .modal__image').load(function(){
                    $('.gallery__modal').css({'display':'flex'});
                });
                addKeyboardListener();
            }

            function setModalImage(element){
                selectedImage = element;
                var caption = element.find('.photo__caption').html();
                var imageNum = element.attr('data-index') + "/" + $('.gallery__item').length;
                $('.gallery__modal .modal__image').attr('src', element.attr('data-src'));
                $('.gallery__modal .modal__image').load(function(){
                    $('.gallery__modal .modal__caption').html(caption);
                    $('.gallery__modal .modal__imagenum').html(imageNum);
                });
            }

            function nextGalleryImage(){
                var nextImage = selectedImage.next('.gallery__item');
                if(nextImage.length === 1){
                    selectedImage = nextImage;
                } else {
                    selectedImage = selectedImage.siblings('.gallery__item').first();
                }
                setModalImage(selectedImage);
            }

            function prevGalleryImage(){
                var prevImage = selectedImage.prev('.gallery__item');
                if(prevImage.length === 1){
                    selectedImage = prevImage;
                } else {
                    selectedImage = selectedImage.siblings('.gallery__item').last();
                }
                setModalImage(selectedImage);
            }

            function handleKeyboardInput(event){
                switch(event.keyCode) {
                    case 27:
                        closeGalleryImage();
                        break;
                    case 39:
                        nextGalleryImage();
                        break;
                    case 37:
                        prevGalleryImage();
                        break;
                    default:
                        break;
                }
            }

            function addKeyboardListener(){
                $(document).on('keyup', handleKeyboardInput);
            }

            function removeKeyboardListener(){
                $(document).off('keyup', handleKeyboardInput);
            }
            

            $(document).on('click', '.gallery__item', function(){
                showModal($(this));
            });

            $(document).on('click', '.modal__image', function(e){
                e.stopPropagation();
                nextGalleryImage();
            });

            $(document).on('click', '.gallery__modal', function(){
                closeGalleryImage();
            });

            $(document).on('click', '.modal__caption', function(e){
                e.stopPropagation();
            });

            $(document).on('click', '.modal__close', function(){
                closeGalleryImage();
            });

            $(document).on('click', '.modal__arrow--next', function(e){
                e.stopPropagation();
                nextGalleryImage();
            });

            $(document).on('click', '.modal__arrow--prev', function(e){
                e.stopPropagation();
                prevGalleryImage();
            });

            $(document).on('click', '.photo--clickable', function(){
                closeImage();
                openImage($(this));
            });

            $(document).on('click', '.photo-container--clicked', function(){
                closeImage();
            });

            $(document).on('click', '.photo--clicked', function(){
                closeImage();
            });
        </script>
    </body>
</html>
