<header class="header header--{{ page.header.pageHeader ? page.header.pageHeaderSize : '' }}">
    <div class="top-bar" style="background-image:url('{{ [theme_url,'/images/wood.png']|join }}')">
        <div class="top-bar__container limited-width">
            <div class="top-bar__site-identity">
                <span class="top-bar__title">{{ site.title|e }}</span>
                {% if site.subtitle %}<span class="top-bar__subtitle">{{ site.subtitle|e }}</span>{% endif %}
            </div>
            <div class="top-bar__right">
                <img src="{{ url('theme://images/unset-chaser.png') }}" />
            </div>
        </div>
        <div class="top-bar__menu-container">
            <nav class="top-bar__menu">
                {% include 'partials/navigation.html.twig' %}
            </nav>
        </div>
    </div>
    {% if page.header.pageHeader %}
        <div class="header-image header-image--{{ page.header.pageHeaderSize }}" style="background-image:url('{{ page.media[page.header.pageHeader].url }}')"></div>
    {% endif %}
</header>
