{% extends 'partials/base.html.twig' %}

{% block content %}
	<h1 class="page__heading">{{ page.title }}</h1>
	{{ page.content }}

    {% if page.header.gallery %}
    <div class="gallery">
    <h2>Photo Gallery</h2>
        <div class="gallery__container">
            {% for item in page.header.gallery %}
            <div class="gallery__item" data-index="{{ loop.index }}" data-src="{{ page.media[item.image].fixOrientation.url }}">
                <div class="gallery__photo">
                    <img alt="{{ item.title }}" src="{{ page.media[item.image].fixOrientation.cropZoom(200,200).url }}" class="photo__image" />
                    {% if item.title %}
                        <span style="display: none" class="photo__caption">{{ item.title }}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="gallery__modal modal">
        <div class="modal__inner modal__inner--image">
            <span class="modal__close">&times;</span>
            <img class="modal__image" />
            <span class="modal__footer caption">
                <span class="modal__caption"></span>
                <span class="modal__imagenum"></span>
            </span>
        </div>
    </div>
    {% endif %}

    <p class="page-navigation">
        {% if not page.isFirst %}
            <span class="page-navigation__button page-navigation__button--prev">Previous class:<br/><a class="button" href="{{ page.nextSibling.url }}">{{ page.nextSibling.title }} <i class="fa fa-chevron-right"></i></a></span>
        {% endif %}
        {% if not page.isLast %}
            <span class="page-navigation__button page-navigation__button--next">Next class:<br/><a class="button" href="{{ page.prevSibling.url }}"><i class="fa fa-chevron-left"></i> {{ page.prevSibling.title }}</a></span>
        {% endif %}
    </p>

    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "Course",
        "name": "{{ page.title }}",
        "description": "{{ page.header.shortDescription ? page.header.shortDescription : page.summary(null, true) }}",
            "provider": {
                "@type": "Organization",
                "name": "Capital Fly Casting",
                "sameAs": "http://capitalflycasting.com"
            }
        }
    </script>

{% endblock %}