<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
    <head>
        {% if site.googleAnalyticsId %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{site.googleAnalyticsId}}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ site.googleAnalyticsId }}');
        </script>
        {% endif %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if ((site.title in header.title) or (site.subtitle in header.title)) %}
            {# if the page title contains either the site title or subtitle #}
            {% if (header.menu and not ((site.title in header.menu) or (site.subtitle in header.menu))) %}
                {# and if the page has a menu title which doesn't contain the site title or subtitle #}
                {# use the menu title as the page title #}
                {% set pageTitle = header.menu|e ~ " | " %}
            {% else %}
                {# else use the page title as the full title #}
                {% set displayTitle = header.title %}
            {% endif %}
        {% else %}
            {% set pageTitle = header.title|e ~ " | " %}
        {% endif %}

        {% set siteTitle = site.subtitle ? site.title|e ~ ' - ' ~ site.subtitle|e : site.title|e %}
        {% set displayTitle = displayTitle ? displayTitle : pageTitle ~ siteTitle %}
        
        {% set headerImage = page.header.pageHeader ? page.media[page.header.pageHeader] : page.find('/home').media[page.find('/home').header.pageHeader] %}
        {% set headerImage = 'http://capitalflycasting.com' ~ headerImage.cropResize(1080,1080).url() %}

        <title>{{ displayTitle }}</title>
        <link rel="canonical" href="{{ page.url(true)|regex_replace('/^http\\:\\/\\/www\./','http://') }}" />
        <!-- Search Engine -->
        <meta name="description" content="{{ page.summary(null, true) }}">
        <meta name="image" content="{{ headerImage }}">
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="{{ displayTitle }}">
        <meta itemprop="description" content="{{ page.summary(null, true) }}">
        <meta itemprop="image" content="{{ headerImage }}">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ displayTitle }}">
        <meta name="twitter:description" content="{{ page.summary(null, true) }}">
        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta property="og:title" content="{{ displayTitle }}">
        <meta property="og:description" content="{{ page.summary(null, true) }}">
        <meta property="og:url" content="http://capitalflycasting.com">
        <meta property="og:site_name" content="{{ siteTitle }}">
        <meta property="og:locale" content="en_AU">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{{ headerImage }}">
        <link rel="shortcut icon" type="image/png" href="{{ url('theme://images/favicon.png') }}"/>

        {% block stylesheets %}
            {% do assets.addCss('theme://css/main.css', 100) %}
        {% endblock %}
        {{ assets.css() }}

        {% block javascripts %}
            {% do assets.addJs('jquery', 101) %}
            <!-- build:js -->
            {% do assets.addJs('theme://js/app.js', 100) %}
            <!-- endbuild -->
        {% endblock %}
        {{ assets.js() }}
    </head>
    <body>
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}
        {% block body %}
        <section id="body" class="content container limited-width">
            {% block content %}{% endblock %}
        </section>
        {% endblock %}
        {% include 'partials/footer.html.twig' %}


        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}
    </body>
</html>
