{% set modified_date = pages.children.visibles|first.modified %}
{% for page in pages.children.visible %}
    {% if modified_date < page.modified %}
        {% set modified_date = page.modified %}
    {% endif %}
{% endfor %}
<footer class="footer__wrapper">
    <div class="footer limited-width">
        <div class="footer__left">
            <img class="footer__logo" alt="FFI" src="{{ url('theme://images/logos/ffilogo.jpg') }}" />
        </div>
        <div class="footer__right">
            <div class="logo-container">
                <div class="logo-container__logo">
                    <img alt="Sage logo" src="{{ url('theme://images/logos/sage.jpg') }}" /><br />
                </div>
                <p class="logo-container__text">Clients of Capital Fly Casting get to use top of the line Sage rods and reels</p>
            </div>
            <div class="logo-container">
                <div class="logo-container__logo">
                    <img alt="HUDL logo" src="{{ url('theme://images/logos/hudl.png') }}" /><br />
                    <span class="logo-container__subtitle">HUDL Technique,<br/>Improve In Slow Motion</span>
                </div>
                <p class="logo-container__text">Capital Fly Casting uses sports video analysis<br />
            </div>
        </div>
    </div>
    {% if footer.copyright %}
        <p class="footer__copyright limited-width">&copy; {{ site.author.name }} | {{ modified_date|date('F Y') }}</p>
    {% endif %}
</footer>