{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="course-page__content">
        <h1 class="page__heading">{{ page.title }}</h1>
        {% if page.header.image %}
        <div class="course-page__photo photo photo--clickable" data-src="{{ page.media[page.header.image].url }}">
            <img src="{{ page.media[page.header.image].cropResize(600,600).url }}"></img>
        </div>
        {% endif %}
        <div class="course-page__text">{{ page.content }}</div>
    </div>

    <p class="course-page__navigation">
        {% if not page.isFirst %}
            <span class="course-page__navigation-button course-page__navigation-button--prev">Previous class:<br/><a class="button" href="{{ page.nextSibling.url }}">{{ page.nextSibling.title }} <i class="fa fa-chevron-right"></i></a></span>
        {% endif %}
        {% if not page.isLast %}
            <span class="course-page__navigation-button course-page__navigation-button--next">Next class:<br/><a class="button" href="{{ page.prevSibling.url }}"><i class="fa fa-chevron-left"></i> {{ page.prevSibling.title }}</a></span>
        {% endif %}
    </p>

    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "Course",
        "name": "{{ page.title }}",
        "description": "{{ page.header.shortDescription ? page.header.shortDescription : page.summary(null, true) }}",
            "provider": {
                "@type": "Organization",
                "name": "Capital Fly Casting",
                "sameAs": "http://capitalflycasting.com"
            }
        }
    </script>

{% endblock %}