{% extends 'partials/base.html.twig' %}

{% block content %}
	<h1 class="page__heading">{{ page.title }}</h1>
	{{ page.content }}

    {% if page.header.gallery %}
    <div class="gallery">
        {% for item in page.header.gallery %}
        <div class="gallery__item photo" data-index="{{ loop.index }}" data-src="{{ page.media[item.image].fixOrientation.url }}">
            <img alt="{{ item.title }}" src="{{ page.media[item.image].fixOrientation.cropZoom(200,200).url }}" class="photo__image" />
            {% if item.title %}
                <span class="photo__caption">{{ item.title }}</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="gallery__modal modal">
        <div class="modal__inner modal__inner--image">
            <span class="modal__close">&times;</span>
            <img class="modal__image" />
            <div class="modal__arrows">
                <span class="modal__arrow modal__arrow--prev">a</span>
                <span class="modal__arrow modal__arrow--next">b</span>
            </div>
            <span class="modal__footer caption">
                <span class="modal__caption"></span>
                <span class="modal__imagenum"></span>
            </span>
        </div>
    </div>
    {% endif %}

    <p class="prev-next">
        {% if not page.isFirst %}
            <a class="button" href="{{ page.nextSibling.url }}"><i class="fa fa-chevron-left"></i> Next Course: {{ page.nextSibling.title }}</a>
        {% endif %}

        {% if not page.isLast %}
            <a class="button" href="{{ page.prevSibling.url }}">Previous Course: {{ page.prevSibling.title }} <i class="fa fa-chevron-right"></i></a>
        {% endif %}
    </p>
{% endblock %}