{% extends 'partials/base.html.twig' %}

{% block content %}
	<h1 class="page__heading">{{ page.title }}</h1>
	{{ page.content }}
    {% if header.galleryImages %}
    <div class="gallery">
        <div class="gallery__container">
            {% for item in header.galleryImages %}
            <div class="gallery__item" data-index="{{ loop.index }}" data-src="{{ page.media[item.image].fixOrientation.url }}">
                <div class="gallery__photo">
                    <img alt="{{ item.text }}" src="{{ page.media[item.image].fixOrientation.cropZoom(200,200).url }}" class="photo__image" />
                    {% if item.text %}
                        <span style="display: none" class="photo__caption">{{ item.text }}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
